:root {
  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #948979;
  --surface: #121212;
  --error: #CF6679;
  --warning: #F39C12;
  --on-background: #153448;
  --on-background-grey: #153448;
  --on-surface: #153448;
}

[data-theme="light"] {
  --background: #153448;
  --suface: #948979;
  --on-background: #948979;
  --on-background-grey: #948979;
  --on-surface: #948979;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--on-background);
}


body {
  font-family: 'Inter', sans-serif;
  color: var(--on-background);
  background-color: var(--background);
  
}

.app-container {

  min-height: 100vh;
  transition: all ease-in-out 0.5s;
}



header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid var(--on-background);
}

header h1 {
  flex: 1;
}

header .navigation ul li {
  display: inline-block;
  font-size: 30px;
  margin: 0 8px;
}

main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
  max-width: 1200px;
}

.login-page, .register-page{
  border: 1px solid var(--on-surface);
  outline: none;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  font-weight: 200;
}

.log, .regis{
  text-align: center;
  padding: 20px ;
}

.login-input, .register-input{
  border: 1px solid var(--on-surface);
  outline: none;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  font-weight: 500;
}

.email, .password, .text{
  font-size: 18px;
  margin-top: 8px;
  background-color: transparent;
  margin-bottom: 50px;
  display: block;
  width: 45%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  margin: 40px auto;
}

.email::placeholder , .password::placeholder, .text::placeholder{
  color: var(--on-background-grey);
  text-align: center;
} 

.login, .regist {
  font-size: 15px;
  margin-top: 8px;
  background-color: transparent;
  margin-bottom: 50px;
  display: block;
  width: 15%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  margin: 40px auto;
  color: var(--on-background);
}

.login-page p , .register-page p{
  text-align: center;
  margin: 20px auto;
}

.notes-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px 8px;
}

.list-empty {
  margin-top: 32px;
  padding: 16px 8px;
}

.list-empty p {
  text-align: center;
  color: var(--on-background-grey);
  font-size: 24px;
}
.note-item-content {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  border-top: 5px solid;
  border-radius: 8px;
}

.item-title {
  margin: 4px 0;
}

.item-createdAt {
  color: var(--on-background-grey);
  font-size: 14px;
  margin: 4px 0;
}

.item-body {
  margin-top: 16px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.detail-page {
  margin: 0 auto;
  margin-top: 32px; 
  width: 90%;
}

.detail-page-title {
  font-size: 48px;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.detail-page-createdAt {
  color: var(--on-background-grey)
}

.detail-page-body {
  line-height: 1.5;
  margin-top: 36px;
  font-size: 18px;
}
.note-item-action{
  display: flex;
  padding: 20px 20px;
    margin-top: 10px;
}

.item-delete, .item-archive {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #153448;
  color: #948979;
  padding: 8px;
  cursor: pointer;
}

.note-input {
  border: 1px solid var(--on-surface);
  outline: none;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  font-weight: 500;
 
}

.note-input-title {
  font-size: 18px;
  margin-top: 8px;
  background-color: transparent;
  margin-bottom: 50px;
  display: block;
  width: 80%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  margin: 40px auto;
  
}
.note-input-title::placeholder {
  color: var(--on-background-grey);
}

.note-input-body {
  font-size: 18px;
  margin-top: 8px;
  background-color: transparent;
  margin-bottom: 50px;
  display: block;
  width: 80%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  margin: 40px auto;
}

.note-input-body::placeholder {
  color: var(--on-background-grey);
}

.note-input button {
  font-size: 15px;
  margin-top: 8px;
  background-color: transparent;
  margin-bottom: 50px;
  display: block;
  width: 80%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  margin: 40px auto;
  color: var(--on-background);
}


.search-bar input {
  margin: 16px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  border: 1px solid var(--on-background);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  color: var(--on-background);
}

.search-bar input::placeholder {
  color: var(--on-background-grey);
}

.ing {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (min-width: 650px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-page-title { 
    font-size: 64px;
  }
}

@media screen and (min-width: 850px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  .notes-list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 565px) {
  .nav-link{
    display: flex;
    flex-direction: column;
  }

  header .navigation ul li {
    margin: 8px;
    text-align: center;
  }

  header .navigation ul li a {
    padding: 3px;
  }

  .note-input__title{
    font-size: 36px;
  }
}