@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #948979;
  --surface: #121212;
  --error: #CF6679;
  --warning: #F39C12;
  --on-background: #153448;
  --on-background-grey: #153448;
  --on-surface: #153448;
}

[data-theme="light"] {
  --background: #153448;
  --suface: #948979;
  --on-background: #948979;
  --on-background-grey: #948979;
  --on-surface: #948979;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--on-background);
  background-color: var(--background);
  
}
main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
  max-width: 1200px;
}
.list-empty {
  margin-top: 32px;
  padding: 16px 8px;
}

.list-empty p {
  text-align: center;
  color: var(--on-background-grey);
  font-size: 24px;
}
.note-item-content {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  border-top: 5px solid;
  border-radius: 8px;
}

.item-title {
  margin: 4px 0;
}


.ing {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (min-width: 650px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-page-title { 
    font-size: 64px;
  }
}

@media screen and (min-width: 850px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  .notes-list {
    grid-template-columns: 1fr;
  }
}

  .note-input__title{
    font-size: 36px;
  }